html,
body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

/* Animationer för Klätterträdets hemsida */

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-out;
}

.animate-slide-in-up {
  animation: slideInUp 0.5s ease-out;
}

.duration-1000 {
  animation-duration: 1000ms;
}

.duration-2000 {
  animation-duration: 2000ms;
}

@keyframes bg-shift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-bg-shift {
  background-size: 400% 400%;
  animation: bg-shift 15s ease infinite;
}

/* Custom Loader */
.loader {
  width: 65px;
  aspect-ratio: 1;
  position: relative;
  color: #000;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  box-shadow: 0 0 0 3px inset currentColor;
  animation: l5 2.5s infinite;
}

.loader:after {
  animation-delay: -1.25s;
  border-radius: 0;
}

@keyframes l5 {
  0% {
    inset: 0 35px 35px 0
  }

  12.5% {
    inset: 0 35px 0 0
  }

  25% {
    inset: 35px 35px 0 0
  }

  37.5% {
    inset: 35px 0 0 0
  }

  50% {
    inset: 35px 0 0 35px
  }

  62.5% {
    inset: 0 0 0 35px
  }

  75% {
    inset: 0 0 35px 35px
  }

  87.5% {
    inset: 0 0 35px 0
  }

  100% {
    inset: 0 35px 35px 0
  }
}

/* Dark mode adjustment for loader */
@media (prefers-color-scheme: dark) {
  .loader {
    color: #fff;
  }
}

.dark .loader {
  color: #fff;
}